.Category__container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    text-align: center;
}
.Category__heading{
    display: flex;
    text-align: center;
    justify-content: center;

}

.Category__heading h1{
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}